body {
    font-family: Helvetica,微软雅黑,Microsoft YaHei;
    background: #FFF;
}

.main-header {
    background-image: url(./header-icons.png);
    background-color: #21cdb2;
    background-position-y: 120px;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 21.25em;
    padding: 5.25em 0 5%;
}

.main-header .headline, .product-header .headline {
    padding-top: 25%;
    text-align: center;
}

.headline h1 {
	margin: 0;
    font-size: 64px;
    letter-spacing: 4px;
}

.headline h3 {
    opacity: .8;
    margin: 24px 0 36px;
    font-size: 28px;
    letter-spacing: 4px;
}

.btn-default, .btn-default:hover {
	color: #21cdb2;
    background-color: #fff;
    border-color: #fff;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 40px;
}

.btn-download {
	width: 200px;
	margin: 12px 8px;
}

.btn-download-dev {
    width: 400px;
}

.phone-col {
	margin: 36px 0;
	text-align: center;
}

.phone-wrapper {
	display: inline-block;
    width: 100%;
    max-width: 300px;
    border-bottom: solid 16px #FFF;
    border-top: solid 18px #FFF;
    border-left: solid 1px #FFF;
    border-right: solid 1px #FFF;
    background: #fff;
    box-shadow: 0 5px 58px 0 rgba(0,0,0,.22);
    border-radius: 32px;
    overflow: hidden;
}

div.phone-sign {
    border-radius: 6px;
    border: 2px solid #D6D6D6;
    width: 100px;
    height: 10px;
    z-index: 1;
    display: inline-block;
    background: #fff;
}

div.phone-top {
	margin-bottom: 12px;
}

div.phone-bottom {
	margin-top: 18px;
}

.phone-wrapper img {
	width: 100%;
}

div[class$=-header]+.divider {
    position: relative;
    overflow: visible!important;
}

div[class$=-header]+.divider polygon {
    position: absolute;
    fill: #fff;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.footer {
	width: 100%;
	color: #888;
	text-align: center;
	clear:both;
	bottom: 0px;
	font-size: 12px; 
}

@media (max-width: 768px) {
	.main-header {
	    margin-top: 0;
	    padding-top: 0;
	}

	.btn-download {
		width: 100%;
		margin: 12px 0;
	}

	.headline {
	    max-width: 100%;
	    text-align: center;
	}

	.headline h1 {
		font-size: 40px;
	}

	.headline h3 {
		font-size: 18px;
		margin: 20px 0 36px;
	}
}

.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: .8;
}

#weixin-tip {
    position: fixed;
    text-align:center;
    width:80%;
    height: 30%;
    top: 50%;
    left: 50%;
    padding: 16px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#weixin-tip p {
    font-size: 18px;
    color: #FFF;
}

.modal-dialog {
    height: 100%;
}

.modal-content {
    height: 100%;
}
